$transition-duration: 0.2s;
$transition: cubic-bezier(0,0,0,1);

.parallax {
  &, &__inner {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
  }

  &__inner {
    will-change: transform;
  }

  &.initialized &__inner {
    transition: transform $transition-duration $transition;
  }
}